# Ignore virtual environment
/venv/

# Ignore folders
/results/
yolov5/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore system-specific files
.DS_Store
Thumbs.db
serviceAccount.json
firebaseConfig.json
